<div class="ui segment">
    <br />
    <h4 class="ui horizontal divider header" style="color:#FF7055;margin-top:-10px;overflow:auto!important">
        Create new topic
    </h4>
    <div class="ui form" id="adoption_Topic">

        <div class="field">
            <label>Condition</label>
            <textarea class="form" id="editor"></textarea>
        </div>

        <br />
        <br />
    </div>
</div>