

@{
    ViewBag.Title = "Diary | chapter";
    Layout = "~/Views/Shared/_CPLayout.cshtml";
}

<div class="ui centered  grid">
    <div class="twelve wide column" style="padding-right:30px">
        <div class="ui segment">
            <div class="ui basic segment">
                <h4 class="ui header">Chapter summary</h4>
                <table class="ui blue table">
                    <thead>
                        <tr>
                            <th class="three wide">Date</th>
                            <th class="six wide">Chapter</th>
                            <th class="one wide center aligned">View</th>
                            <th class="one wide center aligned">Comment</th>
                            <th class="one wide center aligned">Edit</th>
                            <th class="one wide center aligned">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>dd/mm/yy</td>
                            <td><a href="#">John open his eyes!</a></td>
                            <td class="center aligned">8</td>
                            <td class="center aligned">10</td>
                            <td class="center aligned">10</td>
                            <td class="center aligned">10</td>
                        </tr>
                        <tr>
                            <td>dd/mm/yy</td>
                            <td><a href="#">John start running!</a></td>
                            <td class="center aligned">10</td>
                            <td class="center aligned">12</td>

                        </tr>
                    </tbody>
                </table>
            </div>



        </div>
    </div>
</div>
