@using Inspired.Models;
@model Inspired.Models.Diary

@{
    ViewBag.Title = "Diary | chapter";
    Layout = "~/Views/Shared/_CPLayout.cshtml";
}

<div class="ui centered  grid">
    <div class="thirteen wide column" style="padding-right:20px">
        <div class="ui basic segment" style="padding-left:0px;padding-right:0px">


            <div class="ui segment">
                <div class="ui two column very relaxed grid">
                    <div class="column">
                        <h2 class="ui header">
                            Chapter
                        </h2>
                    </div>
                    <div class="ui hidden vertical divider">
                    </div>
                    <div class="column">
                        <button onclick="location.href = '/Chapters/CreateChapter'" class="ui right floated blue button">New chapter</button>

                    </div>
                </div>
            </div>
            <div class="ui segment">
                <div class="ui one cards">

                    @{
                        List<Chapter> chapters = (List<Chapter>)ViewData["Chapter"];
                    }
                    @if (chapters != null && chapters.Count > 0)
                    {
                        foreach (var chapter in chapters)
                        {
                            <div class="card">
                                <div class="content">
                                    <div class="header">
                                        @chapter.name
                                    </div>
                                    <div class="meta">
                                        @chapter.timestamp
                                    </div>
                                    <div class="description">
                                        Elliot requested permission to view your contact details
                                    </div>
                                </div>
                                <div class="extra content">
                                    <div class="ui two buttons">
                                        <div class="ui basic teal button"  onclick="location.href = '/Chapters/EditChapter/'+ @chapter.id" >Edit</div>
                                        <div class="ui red button DeleteChapter_Button" data-id="@chapter.id">Delete</div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

        </div>
    </div>
</div>

