@model Inspired.Models.Account
@{
    ViewBag.Title = "Home Page";
}

@{
    if (Session["Authen"] != null)
    {
    <div class="ui page centered celled grid">
        
        <div class="ui left aligned segment" style="width:70%">
        <div class="ui left close rail" style="width:30%">
            <div class=" ui orange vertical fluid tabular menu">
                <a href="/Home/Index" class=" contropanel_menu item active">
                    Home
                </a>

                <div class="ui card">
                    <br />
                    <div class="ui centered small image">
                        <img src="~/Content/pic/cat07.jpg">
                    </div>
                    <br />
                    <div class="content">
                        <a class="header">Kristy</a>
                        <div class="meta">
                            <span class="date">Joined in 2013</span>
                        </div>
                        <div class="description">
                            Chiang Mai
                        </div>
                    </div>
                    <div class="extra content">
                        <a style="color:#e74c3c !important">
                            <i class="fa fa-heart"></i>
                            Cats lover
                        </a>
                    </div>
                </div>


                <a href="/Home/MyDiary" class=" contropanel_menu item">
                    Diary
                </a>
                <a href="/Home/CatCensus" class=" contropanel_menu item">
                    Cat's Census
                </a>
                <a href="/Home/CatTimeline" class=" contropanel_menu item">
                    Cat's Timeline
                </a>
                <a href="/Home/MyBoard" class=" contropanel_menu item">
                    My board
                </a>
                <a href="/Home/Profile" class=" contropanel_menu item">
                    Profile
                </a>
            </div>







        </div>


        <div class="ui right close rail">
            <div class="ui warning message" id="dialy_tip">

                <div class="header">
                    <i class="icon" style="float:right;cursor:pointer" id="close_dialy_tip"><i class="fa fa-times"></i></i>
                    Did you know?
                </div>
                <ul class="list">
                    <li>It's good to see you again.</li>
                    <li>Did you know it's been a while?</li>
                </ul>
            </div>

            <div class="ui large label" style="width:100%;background-color:#3498db !important;border-color:#3498db !important;color:white !important;font-weight:bold">
                <div class="header" style="padding-top:5px">
                    Event in this month
                </div>
                <ul class="list">
                    <li>Rabie's vaccine for Sashi.</li>
                </ul>
            </div>
            <div class="ui segment">
                <div class="ui large teal label">
                    <i class="icon"><i class="fa fa-book"></i></i>Recently update diary
                </div>
                <div class="ui relaxed divided selection list">
                    <a class="item">
                        <img class="ui avatar image" src="~/Content/pic/cat1.png">
                        <div class="content">
                            <div class="header">Snickerdoodle</div>
                            An excellent companion
                        </div>
                    </a>
                    <a class="item">
                        <img class="ui avatar image" src="~/Content/pic/cat2.png">
                        <div class="content">
                            <div class="header">Poodle</div>
                            A poodle, its pretty basic
                        </div>
                    </a>
                    <a class="item">
                        <img class="ui avatar image" src="~/Content/pic/cat3.png">
                        <div class="content">
                            <div class="header">Paulo</div>
                            He's also a dog
                        </div>
                    </a>
                    <a class="item">
                        <img class="ui avatar image" src="~/Content/pic/cat1.png">
                        <div class="content">
                            <div class="header">Snickerdoodle</div>
                            An excellent companion
                        </div>
                    </a>
                    <a class="item">
                        <img class="ui avatar image" src="~/Content/pic/cat2.png">
                        <div class="content">
                            <div class="header">Poodle</div>
                            A poodle, its pretty basic
                        </div>
                    </a>
                    <a class="item">
                        <img class="ui avatar image" src="~/Content/pic/cat3.png">
                        <div class="content">
                            <div class="header">Paulo</div>
                            He's also a dog
                        </div>
                    </a>
                    <a class="item" href="#">
                        <div class="content">
                            <div class="header" style="color:#00b5ad">View all diary <i class="fa fa-angle-double-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>


        </div>


        <div class="ui inverted pointing menu">
            <a class="active teal item" data-tab="index_tab1">
                Update
            </a>
            <a class="teal item" data-tab="index_tab2">
                Adoption
            </a>
            <a class="teal item" data-tab="index_tab3">
                Discusstion
            </a>
            <a class="teal item" data-tab="index_tab4">
                Find owner
            </a>
            <a class="teal item" data-tab="index_tab5">
                Missing cat
            </a>
            <a class="teal item" data-tab="index_tab6">
                SOS
            </a>

        </div>
        <br />

        <div class="ui tab" data-tab="index_tab1">



            <h4 class="ui horizontal divider header" style="color:#FF7055;margin-top:-10px;overflow:auto!important">
                Hello Kristy :)
            </h4>



            <div class="ui segment">

                <div class="ui two column middle aligned very relaxed stackable grid">
                    <div class="center aligned column">
                        <div class="ui red message">12 cats in your province are missing</div>
                        <div class="ui red message">5 cats in your province found lost</div>
                    </div>
                    <div class="ui vertical divider">
                        And
                    </div>
                    <div class="center aligned column">
                        <div class="ui red message">5 cats in your province need owner</div>
                        <div class="ui red message">7 cats in your province need help</div>
                    </div>
                </div>

            </div>


            <div class="ui segment">
                <div class="ui feed">

                    <div class="event">
                        <div class="label">
                            <img src="~/Content/pic/cat01.jpg">
                        </div>
                        <div class="content">
                            <div class="date">
                                2 days ago
                            </div>
                            <div class="summary">
                                <a>Jenny Hess</a> follow your diary, <a>SaShi lovely life.</a>
                            </div>
                        </div>
                    </div>

                    <div class="event">
                        <div class="label">
                            <img src="~/Content/pic/cat1.png">
                        </div>
                        <div class="content">
                            <div class="date">
                                3 days ago
                            </div>
                            <div class="summary">
                                <a>Snickerdoodle</a> update new <a>chapter.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui tab" data-tab="index_tab2">

            <h4 class="ui horizontal divider header" style="color:#FF7055;margin-top:-10px; overflow:auto!important">
                <a href="#">34</a> cats in your province still waiting for owner
            </h4>

            <form class="ui form" id="adoption_form">

                <div class="three fields">
                    <div class="field">
                        <label>Province</label>
                        <select class="ui fluid dropdown">
                            <option value="">Select province</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Gender</label>
                        <select class="ui fluid dropdown">
                            <option value="">All</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Age</label>
                        <select class="ui fluid dropdown">
                            <option value="">All</option>
                            <option value="male">Baby</option>
                            <option value="female">Adult</option>
                            <option value="female">Senior</option>
                        </select>
                    </div>
                </div>

                <div class="field">
                    <label>Color</label>
                    <select name="color" multiple="" class="ui fluid dropdown" id="service-dropdown">
                        <option value="">Select color, you can select multi color</option>
                        <option value="af">Black</option>
                        <option value="ax">Blue</option>
                        <option value="ax">Orange</option>
                        <option value="al">Yellow</option>

                    </select>

                </div>



                <div class="three fields">
                    <div class="field">
                        <label>Eye color</label>
                        <select class="ui fluid dropdown">
                            <option value="">Any</option>
                            <option value="aqua">Aqua-blue</option>
                            <option value="blue">Blue</option>
                            <option value="copper">Copper</option>
                            <option value="copper-orange">Copper-orange</option>
                            <option value="green">Green</option>
                            <option value="hazel">Hazel</option>
                            <option value="odd">Odd-eye</option>
                            <option value="orange">Orange</option>
                            <option value="orange-yellow">Orange-yellow</option>
                            <option value="yellow-hazel">Yellow-hazel</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Tail type</label>
                        <select class="ui fluid dropdown">
                            <option value="">Any</option>
                            <option value="bare">Bare</option>
                            <option value="female">Bob</option>
                            <option value="female">Curled</option>
                            <option value="female">Docked</option>
                            <option value="female">Kinked</option>
                            <option value="female">Long</option>
                            <option value="female">Missing</option>
                            <option value="female">Short</option>
                        </select>
                    </div>
                    <div class="field">
                        <br />

                        <button class="fluid ui button" style="background-color:#34495e !important;color:white !important;font-weight:bold;margin-top:4px">Search</button>
                    </div>
                </div>

            </form>

            <div class="ui section divider"></div>

            <div class="ui four doubling cards">
                <div class="orange card">
                    <a class="ui blue right corner label">
                        <i class="icon"><i class="fa fa-mars"></i></i>
                    </a>
                    <a class="image" href="/home/AdoptonDetail">
                        <img src="~/Content/pic/cat01.jpg">
                    </a>
                </div>
                <div class="orange card">
                    <a class="ui right corner label" style="border-color:#e74c3c !important">
                        <i class="icon" style="color:white  !important"><i class="fa fa-venus"></i></i>
                    </a>
                    <div class="image">
                        <img src="~/Content/pic/cat02.jpg">
                    </div>
                </div>
                <div class="orange card">
                    <a class="ui right corner label" style="border-color:#e74c3c !important">
                        <i class="icon" style="color:white  !important"><i class="fa fa-venus"></i></i>
                    </a>
                    <div class="image">
                        <img src="~/Content/pic/cat03.jpg">
                    </div>
                </div>
                <div class="orange card">
                    <a class="ui blue right corner label">
                        <i class="icon"><i class="fa fa-mars"></i></i>
                    </a>
                    <div class="image">
                        <img src="~/Content/pic/cat04.jpg">
                    </div>
                </div>
            </div>
            <br />
            <div class="ui teal right floated button" tabindex="0">
                View all missing cat
                <i class="right icon"><i class="fa fa-angle-double-right"></i></i>
            </div>

        </div>

        <div class="ui active tab" data-tab="index_tab3">

            <h4 class="ui horizontal divider header" style="color:#FF7055;margin-top:-10px;overflow:auto!important">
                Discusstion
            </h4>

            <div class="ui large label" style="background-color:#0077C0!important;color:white!important;font-weight:bold!important">
                Top 5 of the day
            </div>
            <div class="ui relaxed divided list">
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI</a>
                        <div class="description">Updated 10 mins ago</div>
                        <div class="extra">Admin</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI-Docs</a>
                        <div class="description">Updated 22 mins ago</div>
                        <div class="extra">User</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI-Docs</a>
                        <div class="description">Updated 22 mins ago</div>
                        <div class="extra">User</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI-Docs</a>
                        <div class="description">Updated 22 mins ago</div>
                        <div class="extra">User</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI-Docs</a>
                        <div class="description">Updated 22 mins ago</div>
                        <div class="extra">User</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI-Docs</a>
                        <div class="description">Updated 22 mins ago</div>
                        <div class="extra">User</div>
                    </div>
                </div>
                <br />
            </div>

            <div class="ui large label" style="background-color:#0077C0!important;color:white!important;font-weight:bold!important">
                5 latest update
            </div>
            <div class="ui relaxed divided list">
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI</a>
                        <div class="description">Updated 10 mins ago</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI-Docs</a>
                        <div class="description">Updated 22 mins ago</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI-Meteor</a>
                        <div class="description">Updated 34 mins ago</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI-Meteor</a>
                        <div class="description">Updated 34 mins ago</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI-Meteor</a>
                        <div class="description">Updated 34 mins ago</div>
                    </div>
                </div>
            </div>
            <div class="ui teal right floated button" tabindex="0">
                View all discuss topic
                <i class="right icon"><i class="fa fa-angle-double-right"></i></i>
            </div>
        </div>
        <div class="ui tab" data-tab="index_tab4">

            <h4 class="ui horizontal divider header" style="color:#FF7055;margin-top:-10px;overflow:auto!important">
                <a href="#">34</a>  cats in your province found as a lost cat
            </h4>
            <div class="ui four doubling cards">
                <div class="orange card">
                    <div class="image">
                        <img src="~/Content/pic/cat01.jpg">
                    </div>
                </div>
                <div class="orange card">
                    <div class="image">
                        <img src="~/Content/pic/cat02.jpg">
                    </div>
                </div>
                <div class="orange card">
                    <div class="image">
                        <img src="~/Content/pic/cat03.jpg">
                    </div>
                </div>
                <div class="orange card">
                    <div class="image">
                        <img src="~/Content/pic/cat04.jpg">
                    </div>
                </div>
            </div>
            <br />
            <div class="ui teal right floated button" tabindex="0">
                View all missing cat
                <i class="right icon"><i class="fa fa-angle-double-right"></i></i>
            </div>
        </div>

        <div class="ui tab" data-tab="index_tab5">

            <h4 class="ui horizontal divider header" style="color:#FF7055;margin-top:-10px;overflow:auto!important">
                <a href="#">34</a> cats in your province is missing
            </h4>
            <div class="ui four doubling cards">
                <div class="orange card">
                    <div class="image">
                        <img src="~/Content/pic/cat01.jpg">
                    </div>
                </div>
                <div class="orange card">
                    <div class="image">
                        <img src="~/Content/pic/cat02.jpg">
                    </div>
                </div>
                <div class="orange card">
                    <div class="image">
                        <img src="~/Content/pic/cat03.jpg">
                    </div>
                </div>
                <div class="orange card">
                    <div class="image">
                        <img src="~/Content/pic/cat04.jpg">
                    </div>
                </div>
            </div>
            <br />
            <div class="ui teal right floated button" tabindex="0">
                View all missing cat
                <i class="right icon"><i class="fa fa-angle-double-right"></i></i>
            </div>
        </div>

        <div class="ui tab" data-tab="index_tab6">

            <h4 class="ui horizontal divider header" style="color:#FF7055;margin-top:-10px;overflow:auto!important">
                <a href="#">22</a>  cats in your province need help
            </h4>


            <div class="ui large label" style="background-color:#0077C0!important;color:white!important;font-weight:bold!important">
                Top 5 of the day
            </div>
            <div class="ui relaxed divided list">
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI</a>
                        <div class="description">Updated 10 mins ago</div>
                        <div class="extra">Admin</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI-Docs</a>
                        <div class="description">Updated 22 mins ago</div>
                        <div class="extra">User</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI-Docs</a>
                        <div class="description">Updated 22 mins ago</div>
                        <div class="extra">User</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI-Docs</a>
                        <div class="description">Updated 22 mins ago</div>
                        <div class="extra">User</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI-Docs</a>
                        <div class="description">Updated 22 mins ago</div>
                        <div class="extra">User</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI-Docs</a>
                        <div class="description">Updated 22 mins ago</div>
                        <div class="extra">User</div>
                    </div>
                </div>
                <br />
            </div>

            <div class="ui large label" style="background-color:#0077C0!important;color:white!important;font-weight:bold!important">
                5 latest update
            </div>
            <div class="ui relaxed divided list">
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI</a>
                        <div class="description">Updated 10 mins ago</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI-Docs</a>
                        <div class="description">Updated 22 mins ago</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI-Meteor</a>
                        <div class="description">Updated 34 mins ago</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI-Meteor</a>
                        <div class="description">Updated 34 mins ago</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a class="header">Semantic-Org/Semantic-UI-Meteor</a>
                        <div class="description">Updated 34 mins ago</div>
                    </div>
                </div>
            </div>
            <div class="ui teal right floated button" tabindex="0">
                View all discuss topic
                <i class="right icon"><i class="fa fa-angle-double-right"></i></i>
            </div>
        </div>
    </div>

    <div class="ui left aligned segment" style="width:70%">
        <div class="ui divided items">

        </div>


    </div>

    </div>
    }
    else 
    {
        <div>
            <div class="ui two column middle aligned very relaxed stackable grid">
                <div class="column">
                    <div class="ui form">
                        <div class="field">
                            <label>Username</label>
                            <div class="ui left icon input">
                                <input type="text" placeholder="Username">
                                <i class="user icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <div class="ui left icon input">
                                <input type="password">
                                <i class="lock icon"></i>
                            </div>
                        </div>
                        <div class="ui blue submit button">Login</div>
                    </div>
                </div>
                <div class="ui vertical divider">
                    Or
                </div>
                <div class="center aligned column">
                    <div class="ui big green labeled icon button">
                        <i class="signup icon"></i>
                        Sign Up
                    </div>
                </div>
            </div>
        </div>
    }
}




