

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="ui page centered celled grid">



    <div class="ui left aligned inverted segment" style="width:70%;background-color:#607A99 !important">
        <div class="ui left close rail" style="width:30%">
            <div class=" ui orange vertical fluid tabular menu">
                <a href="/Home/Index" class=" contropanel_menu item">
                    Home
                </a>

                <div class="ui card">
                    <br />
                    <div class="ui centered small image">
                        <img src="~/Content/pic/cat07.jpg">
                    </div>
                    <br />
                    <div class="content">
                        <a class="header">Kristy</a>
                        <div class="meta">
                            <span class="date">Joined in 2013</span>
                        </div>
                        <div class="description">
                            Chiang Mai
                        </div>
                    </div>
                    <div class="extra content">
                        <a style="color:#e74c3c !important">
                            <i class="fa fa-heart"></i>
                            Cats lover
                        </a>
                    </div>
                </div>


                <a href="/Home/MyDiary" class=" contropanel_menu item">
                    Diary
                </a>
                <a href="/Home/CatCensus" class=" contropanel_menu item">
                    Cat's Census
                </a>
                <a href="/Home/CatTimeline" class=" contropanel_menu item">
                    Cat's Timeline
                </a>
                <a href="/Home/MyBoard" class=" contropanel_menu item">
                    My board
                </a>
                <a href="/Home/Profile" class=" contropanel_menu item active">
                    Profile
                </a>
            </div>







        </div>


        <div class="ui right close rail">

        </div>

        <br />




        <h4 class="ui horizontal divider header" style="color:white;margin-top:-10px; overflow:auto!important">
            My Profile
        </h4>

        <div class="ui basic segment">
            <div class="ui inverted form">
                <div class="field">
                    <label>Profile picture</label>
                    <input type='file' />
                </div>

                <div class="two fields">
                    <div class="field">
                        <label>Username Name</label>
                        <input placeholder="User Name" type="text">
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="two fields">
                    <div class="field">
                        <label>New password</label>
                        <input placeholder="Password" type="text">
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Re-new password</label>
                        <input placeholder="Password" type="text">
                    </div>
                </div>
                <div class="ui divider"></div>

                <label>Get update from adoption topic</label>
                <div class="inline fields">
              
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden">
                            <label>Get update</label>
                        </div>
                        <div class="ui radio checkbox">
                            <input type="radio" name="frequency" checked="checked">
                            <label>Only in my province</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="frequency">
                            <label>Any province</label>
                        </div>
                    </div>
                </div>

                <label>Get update from missing cat topic</label>
                <div class="inline fields">

                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden">
                            <label>Get update</label>
                        </div>
                        <div class="ui radio checkbox">
                            <input type="radio" name="frequency" checked="checked">
                            <label>Only in my province</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="frequency">
                            <label>Any province</label>
                        </div>
                    </div>
                </div>

                <label>Get update from find owner topic</label>
                <div class="inline fields">

                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden">
                            <label>Get update</label>
                        </div>
                        <div class="ui radio checkbox">
                            <input type="radio" name="frequency" checked="checked">
                            <label>Only in my province</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="frequency">
                            <label>Any province</label>
                        </div>
                    </div>
                </div>

                <label>Get update from sos topic</label>
                <div class="inline fields">

                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden">
                            <label>Get update</label>
                        </div>
                        <div class="ui radio checkbox">
                            <input type="radio" name="frequency" checked="checked">
                            <label>Only in my province</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="frequency">
                            <label>Any province</label>
                        </div>
                    </div>
                </div>

                <div class="ui divider"></div>
                <br />
                <button class="ui right floated blue button">Save</button>
                <br />
                <br />
            </div>
        </div>


    </div>


    <div class="ui left aligned segment" style="width:70%">
        <div class="ui divided items">

        </div>


    </div>

</div>


